.no-border {
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

.ui.inverted.menu.no-border {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}



